#body{
    display: none;
    
}


@media only screen and (max-width: 600px) {
    /* استایل‌های مربوط به موبایل در اینجا قرار می‌گیرد */
   #hh{
    font-size: 0.99rem; 
   }
    #i2{
        display: none;
    }
        #i3{
            display: none;
        }

            #i4{
                display: none;
            }

                #img1{
                    display: none;
                }
  }
  